
@media (min-width:200px) and (max-width:768px){
/*隐藏_pc_html*/
.pc_box{display:none;}

/*页脚置底*/
html,body{height:100%;margin:0;padding:0;}
#container{min-height:100%;height: auto !important;height: 100%;margin-bottom:-220px;}
.push{height:220px;clear:both;}

/*login_box*/
.login_box{width:100%;margin:0 auto;padding:40px 50px;box-sizing:Border-box;padding-top:20%;}
.login_box h1{font-size:2rem;text-align:center;font-weight:normal;margin-bottom:40px;color:#333;}
.user_ipt_box,.locked_box{margin-bottom:15px;position:relative;border:solid 1px #bfbfbf;border-radius:5px;position:relative;}
.login_box li input{width:100%;line-height:45px;padding-left:10px;padding-right:50px;box-sizing:border-box;border:None;border-radius:5px;}
.user_ipt_box:after{content: " ";width:25px;height:25px;position:absolute;right:10px;top:0;background-image:url('../image/icon/men.png');background-position:center center;background-size:24px 24px;background-repeat:no-repeat;
margin-top:10px;}
.locked_box:after{content: " ";width:25px;height:25px;position:absolute;right:10px;top:0;background-image:url('../image/icon/locked.png');background-position:center center;background-size:24px 24px;background-repeat:no-repeat;
margin-top:10px;}
.login_box>a{width:100%;border-radius:5px;background:#4e4d4d;color:#fff;line-height:45px;text-align:Center;font-size:1.4rem;margin-top:40px;margin-bottom:40px;}
.login_box form a{width:100%;border-radius:5px;background:#4e4d4d;color:#fff;line-height:45px;text-align:Center;font-size:1.4rem;margin-top:40px;margin-bottom:40px;}

/*contrast_title*/
.contrast_title{width:95%;margin:0 auto;line-height:30px;margin-top:20px;margin-top:2.5%;}
.contrast_title li:nth-child(1){float:right;width:100%;font-size:1.3rem;color:#666;text-align:left;padding:20px 0;}
.contrast_title li:nth-child(2){float:left;width:100%;text-align:left;font-size:1.4rem;color:#333;}
.contrast_title li:nth-child(2) span{color:#333;font-size:1.5rem;}


/*choose_box*/
.choose_big_box{width:95%;margin:0 auto;margin-top:20px;position:relative;}
.choose_box{width:100%;margin:0 auto;padding-top:20px;padding-bottom:20px;}
.choose_box li{float:Left;width:30%;text-align:center;}
.choose_box li:nth-child(-n+2){margin-right:5%;}

.choose_box li p{line-height:50px;border:solid 1px #d2d2d2;width:100%;margin:0 auto;border-radius:10px;color:#333;cursor:pointer;box-sizing:border-box;}
.choose_box li p:hover{background:#4e4d4d;color:#fff;}
.choose_big_box>a{color:#999999;font-size:1.3rem;line-height:50px;text-align:center;}
.choose_big_box>a:hover{color:#333;}

/*photo_lay*/
.photo_lay_box{width:100%;height:100%;margin:0 auto;position:fixed;top:0;left:0;background: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f000000,endColorstr=#4f000000);}
.photo_lay{width:95%;position:absolute;left:2.5%;top:5%;}
.photo_lay_img{width:100%;}
.photo_lay_icon{display:none;}

/*update_sel*/
.update_sel{width:95%;margin:0 auto;margin-top:5%;}
.update_sel select{width:50%;margin:0 auto;}

/*update_big_box*/
.update_big_box{margin:0px auto; width:95%;margin-top:5%;background:#fafafa;padding-top:20px;padding-bottom:1px;border:solid 1px #e5e5e5;}
.update_box{width:100%;margin:0 auto;}
.update_box>input{width:180px;margin:0 auto;display:block;border:solid 1px #e5e5e5;}
.update_box>p{padding-top:15px;color:#C30;letter-spacing:1px;text-align:center;line-height:20px;}
.update_box>p span{color:red;font-size:1.4rem;padding:0 5px;}

/*生成的图片盒子*/
.update_big_box>.update_img_box{width:100%;margin:0 auto;margin-top:20px;}
.dd_img_box{float:left;width:48.75%;border:solid 1px #e5e5e5;margin-top:10px;box-sizing:border-box;}
.dd_img_box:nth-child(2n+1){margin-right:2.5%;}
.dd_img_box p{line-height:35px;text-align:center;cursor:pointer;}

/*上传按钮*/
.update_btn{width:120px;background:#36C;border-radius:10px;text-align:center;line-height:35px;color:#fff;margin:0 auto;box-shadow:0 0 5px #e5e5e5;cursor:pointer;margin-top:40px;margin-bottom:40px;}
.update_btn:hover{background:#03C;}

/*out_btn*/
.out_btn{width:95%;margin:0 auto;text-align:right;margin-top:20px;cursor:pointer;color:#999;}
.out_btn:hover{text-decoration:underline;color:#333;}



}

@media (min-width:200px) and (max-width:567px){
	
/*contrast_box*/
.contrast_box{width:95%;margin:0 auto;padding-top:30px;}
.contrast_box li{cursor:pointer;}
.contrast_box li:nth-child(1){width:100%;position:relative;margin-bottom:20px;}
.contrast_box li:nth-child(2){width:100%;position:relative;}
.contrast_box li .contrast_photo{width:100%;}
.contrast_lay{width:100%;height:100%;margin:0 auto;position:absolute;top:0;left:0;background: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f000000,endColorstr=#4f000000);display:none;}
.contrast_lay:before{content: " ";width:40%;height:40%;position:absolute;left:50%;margin-left:-20%;top:30%;
background-image:url('../image/icon/read.png');background-position:center center;background-size:30% 40%;background-repeat:no-repeat;margin-top:5px;}
}

@media (min-width:568px) and (max-width:1280px){
/*contrast_box*/
.contrast_box{width:95%;margin:0 auto;padding-top:30px;}
.contrast_box li{cursor:pointer;}
.contrast_box li:nth-child(1){float:Left;width:47.5%;margin-right:5%;position:relative;}
.contrast_box li:nth-child(2){float:right;width:47.5%;position:relative;}
.contrast_box li .contrast_photo{width:100%;}
.contrast_lay{width:100%;height:100%;margin:0 auto;position:absolute;top:0;left:0;background: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f000000,endColorstr=#4f000000);display:none;}
.contrast_lay:before{content: " ";width:40%;height:40%;position:absolute;left:50%;margin-left:-20%;top:30%;
background-image:url('../image/icon/read.png');background-position:center center;background-size:30% 40%;background-repeat:no-repeat;margin-top:5px;}

}