<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->

    <!--<style>-->
        <!--html,body{-->
            <!--text-align: center;-->
            <!--margin: 0px auto;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>登录页面</h1>-->
    <!--<form method="post">-->
        <!--<label for="username">username:</label>-->
        <!--<input type="text" name="username" id="username">-->
        <!--<label for="password">password:</label>-->
        <!--<input type="password" name="password" id="password">-->
        <!--<input type="submit" value="Login">-->
    <!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <!--<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
    <!--<link href="http://sscol.jebal.comuv.com/css/font.css" rel="stylesheet" >-->
    <link href="static/css/login.css" type="text/css" rel="Stylesheet"/>
</head>
<body>
  <!--<h2>Inspired by <a href="http://dribbble.com/shots/899672-Login-Form">this dribbble shot</a> made by <a href="http://dribbble.com/ionuss">Ionut Zamfir</a>.</h2>-->
  <!--<div class="main">-->
  <div class="ribbon"></div>
  <div class="login">
      <h1>请输入用户名和密码</h1>
      <!--<p>This will be an amazing experience</p>-->
      <!--<form action="login">-->
      <form method="post">
        <div class="input">
          <div class="blockinput">
              <i class="icon-envelope-alt"></i>
              <input type="text" name="username" id="username" placeholder="账号">
          </div>
          <div class="blockinput">
              <i class="icon-unlock"></i>
              <input type="password" name="password" id="password" placeholder="密码">
          </div>
        </div>
        <button>登录</button>
      </form>
  </div>
  <!--</div>-->

</body>
</html>

